<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.attendance.dao.LeaveInfoMapper">
    <resultMap id="BaseResultMap" type="com.attendance.entity.LeaveInfo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="employee_id" jdbcType="BIGINT" property="employeeId"/>
        <result column="employee_sn" jdbcType="VARCHAR" property="employeeSn"/>
        <result column="leave_reason" jdbcType="VARCHAR" property="leaveReason"/>
        <result column="start_date" jdbcType="DATE" property="startDate"/>
        <result column="end_date" jdbcType="DATE" property="endDate"/>
        <result column="approvel_state" jdbcType="INTEGER" property="approvelState"/>
        <result column="approve_user_id" jdbcType="BIGINT" property="approveUserId"/>
        <result column="approve_time" jdbcType="TIMESTAMP" property="approveTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, employee_id, employee_sn, leave_reason, start_date, end_date, approvel_state,
    approve_user_id, approve_time, create_time, update_time
    </sql>


</mapper>