<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.attendance.dao.MonthStatisticsMapper">
  <resultMap id="BaseResultMap" type="com.attendance.entity.MonthStatistics">
    <id column="month_statistics_record_id" jdbcType="BIGINT" property="recordId" />
    <result column="month_statistics_employee_id" jdbcType="BIGINT" property="employeeId" />
    <result column="month_statistics_employee_name" jdbcType="VARCHAR" property="employeeName" />
    <result column="month_statistics_work_day" jdbcType="INTEGER" property="workDay" />
    <result column="month_statistics_lateness_num" jdbcType="INTEGER" property="latenessNum" />
    <result column="month_statistics_early_num" jdbcType="INTEGER" property="earlyNum" />
    <result column="month_statistics_miss_num" jdbcType="INTEGER" property="missNum" />
    <result column="month_statistics_overtime_num" jdbcType="INTEGER" property="overtimeNum" />
    <result column="month_statistics_absenteeism_day" jdbcType="INTEGER" property="absenteeismDay" />
    <result column="month_statistics_leave_day" jdbcType="INTEGER" property="leaveDay" />
    <result column="month_statistics_work_time" jdbcType="INTEGER" property="workTime" />
    <result column="month_statistics_eave_time" jdbcType="INTEGER" property="eaveTime" />
    <result column="month_statistics_over_time" jdbcType="INTEGER" property="overTime" />
    <result column="month_statistics_remaining_time" jdbcType="INTEGER" property="remainingTime" />
    <result column="month_statistics_slack_time" jdbcType="INTEGER" property="slackTime" />
    <result column="month_statistics_years" jdbcType="INTEGER" property="years" />
    <result column="month_statistics_months" jdbcType="INTEGER" property="months" />
    <result column="month_statistics_create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="month_statistics_update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    month_statistics.record_id as month_statistics_record_id, month_statistics.employee_id as month_statistics_employee_id, 
    month_statistics.employee_name as month_statistics_employee_name, month_statistics.work_day as month_statistics_work_day, 
    month_statistics.lateness_num as month_statistics_lateness_num, month_statistics.early_num as month_statistics_early_num, 
    month_statistics.miss_num as month_statistics_miss_num, month_statistics.overtime_num as month_statistics_overtime_num, 
    month_statistics.absenteeism_day as month_statistics_absenteeism_day, month_statistics.leave_day as month_statistics_leave_day, 
    month_statistics.work_time as month_statistics_work_time, month_statistics.eave_time as month_statistics_eave_time, 
    month_statistics.over_time as month_statistics_over_time, month_statistics.remaining_time as month_statistics_remaining_time, 
    month_statistics.slack_time as month_statistics_slack_time, month_statistics.`years` as `month_statistics_years`, 
    month_statistics.`months` as `month_statistics_months`, month_statistics.create_time as month_statistics_create_time, 
    month_statistics.update_time as month_statistics_update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from month_statistics month_statistics
    where month_statistics.record_id = #{recordId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from month_statistics
    where record_id = #{recordId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.attendance.entity.MonthStatistics">
    insert into month_statistics (record_id, employee_id, employee_name, 
      work_day, lateness_num, early_num, 
      miss_num, overtime_num, absenteeism_day, 
      leave_day, work_time, eave_time, 
      over_time, remaining_time, slack_time, 
      `years`, `months`, create_time, 
      update_time)
    values (#{recordId,jdbcType=BIGINT}, #{employeeId,jdbcType=BIGINT}, #{employeeName,jdbcType=VARCHAR}, 
      #{workDay,jdbcType=INTEGER}, #{latenessNum,jdbcType=INTEGER}, #{earlyNum,jdbcType=INTEGER}, 
      #{missNum,jdbcType=INTEGER}, #{overtimeNum,jdbcType=INTEGER}, #{absenteeismDay,jdbcType=INTEGER}, 
      #{leaveDay,jdbcType=INTEGER}, #{workTime,jdbcType=INTEGER}, #{eaveTime,jdbcType=INTEGER}, 
      #{overTime,jdbcType=INTEGER}, #{remainingTime,jdbcType=INTEGER}, #{slackTime,jdbcType=INTEGER}, 
      #{years,jdbcType=INTEGER}, #{months,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.attendance.entity.MonthStatistics">
    insert into month_statistics
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="recordId != null">
        record_id,
      </if>
      <if test="employeeId != null">
        employee_id,
      </if>
      <if test="employeeName != null">
        employee_name,
      </if>
      <if test="workDay != null">
        work_day,
      </if>
      <if test="latenessNum != null">
        lateness_num,
      </if>
      <if test="earlyNum != null">
        early_num,
      </if>
      <if test="missNum != null">
        miss_num,
      </if>
      <if test="overtimeNum != null">
        overtime_num,
      </if>
      <if test="absenteeismDay != null">
        absenteeism_day,
      </if>
      <if test="leaveDay != null">
        leave_day,
      </if>
      <if test="workTime != null">
        work_time,
      </if>
      <if test="eaveTime != null">
        eave_time,
      </if>
      <if test="overTime != null">
        over_time,
      </if>
      <if test="remainingTime != null">
        remaining_time,
      </if>
      <if test="slackTime != null">
        slack_time,
      </if>
      <if test="years != null">
        `years`,
      </if>
      <if test="months != null">
        `months`,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="recordId != null">
        #{recordId,jdbcType=BIGINT},
      </if>
      <if test="employeeId != null">
        #{employeeId,jdbcType=BIGINT},
      </if>
      <if test="employeeName != null">
        #{employeeName,jdbcType=VARCHAR},
      </if>
      <if test="workDay != null">
        #{workDay,jdbcType=INTEGER},
      </if>
      <if test="latenessNum != null">
        #{latenessNum,jdbcType=INTEGER},
      </if>
      <if test="earlyNum != null">
        #{earlyNum,jdbcType=INTEGER},
      </if>
      <if test="missNum != null">
        #{missNum,jdbcType=INTEGER},
      </if>
      <if test="overtimeNum != null">
        #{overtimeNum,jdbcType=INTEGER},
      </if>
      <if test="absenteeismDay != null">
        #{absenteeismDay,jdbcType=INTEGER},
      </if>
      <if test="leaveDay != null">
        #{leaveDay,jdbcType=INTEGER},
      </if>
      <if test="workTime != null">
        #{workTime,jdbcType=INTEGER},
      </if>
      <if test="eaveTime != null">
        #{eaveTime,jdbcType=INTEGER},
      </if>
      <if test="overTime != null">
        #{overTime,jdbcType=INTEGER},
      </if>
      <if test="remainingTime != null">
        #{remainingTime,jdbcType=INTEGER},
      </if>
      <if test="slackTime != null">
        #{slackTime,jdbcType=INTEGER},
      </if>
      <if test="years != null">
        #{years,jdbcType=INTEGER},
      </if>
      <if test="months != null">
        #{months,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.attendance.entity.MonthStatistics">
    update month_statistics
    <set>
      <if test="employeeId != null">
        employee_id = #{employeeId,jdbcType=BIGINT},
      </if>
      <if test="employeeName != null">
        employee_name = #{employeeName,jdbcType=VARCHAR},
      </if>
      <if test="workDay != null">
        work_day = #{workDay,jdbcType=INTEGER},
      </if>
      <if test="latenessNum != null">
        lateness_num = #{latenessNum,jdbcType=INTEGER},
      </if>
      <if test="earlyNum != null">
        early_num = #{earlyNum,jdbcType=INTEGER},
      </if>
      <if test="missNum != null">
        miss_num = #{missNum,jdbcType=INTEGER},
      </if>
      <if test="overtimeNum != null">
        overtime_num = #{overtimeNum,jdbcType=INTEGER},
      </if>
      <if test="absenteeismDay != null">
        absenteeism_day = #{absenteeismDay,jdbcType=INTEGER},
      </if>
      <if test="leaveDay != null">
        leave_day = #{leaveDay,jdbcType=INTEGER},
      </if>
      <if test="workTime != null">
        work_time = #{workTime,jdbcType=INTEGER},
      </if>
      <if test="eaveTime != null">
        eave_time = #{eaveTime,jdbcType=INTEGER},
      </if>
      <if test="overTime != null">
        over_time = #{overTime,jdbcType=INTEGER},
      </if>
      <if test="remainingTime != null">
        remaining_time = #{remainingTime,jdbcType=INTEGER},
      </if>
      <if test="slackTime != null">
        slack_time = #{slackTime,jdbcType=INTEGER},
      </if>
      <if test="years != null">
        `years` = #{years,jdbcType=INTEGER},
      </if>
      <if test="months != null">
        `months` = #{months,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where record_id = #{recordId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.attendance.entity.MonthStatistics">
    update month_statistics
    set employee_id = #{employeeId,jdbcType=BIGINT},
      employee_name = #{employeeName,jdbcType=VARCHAR},
      work_day = #{workDay,jdbcType=INTEGER},
      lateness_num = #{latenessNum,jdbcType=INTEGER},
      early_num = #{earlyNum,jdbcType=INTEGER},
      miss_num = #{missNum,jdbcType=INTEGER},
      overtime_num = #{overtimeNum,jdbcType=INTEGER},
      absenteeism_day = #{absenteeismDay,jdbcType=INTEGER},
      leave_day = #{leaveDay,jdbcType=INTEGER},
      work_time = #{workTime,jdbcType=INTEGER},
      eave_time = #{eaveTime,jdbcType=INTEGER},
      over_time = #{overTime,jdbcType=INTEGER},
      remaining_time = #{remainingTime,jdbcType=INTEGER},
      slack_time = #{slackTime,jdbcType=INTEGER},
      `years` = #{years,jdbcType=INTEGER},
      `months` = #{months,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where record_id = #{recordId,jdbcType=BIGINT}
  </update>
</mapper>